@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* variables */
:root {
	/* colors */
	--color-base: #253347;
	--color-black: black;
	--color-white: white;
	--color-primary: #345ff6;
	--color-gunmetal: #253347;
	--color-electric-blue: #5e6e85;
	--color-border: #d8e2e7;

	/* containers */
	--container-default: 120.8rem;
	--container-small: 100rem;
	--container-medium: 130rem;
	--container-large: 144rem;
	--container-gutter: 2.4rem;

	/* fonts */
	--primary-font: "Inter", sans-serif;
	/* transitions */
	--transition1: all 0.3s ease-in-out;
	--transition2: all 0.5s ease-in-out;
}

/* variables */

/* reset code */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
      2. Remove default margin
    */
* {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	color: var(--color-base);
}
/*
      3. Allow percentage-based heights in the application
    */
html {
	font-size: 62.5%;
}
html,
body,
#__next {
	height: 100%;
}
/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}
/*
      Typographic tweaks!
      4. Add accessible line-height
      5. Improve text rendering
    */
body {
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}
/*
      6. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
img {
	display: inline;
}
/*
      7. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
	font: inherit;
}
/*
      8. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
}
/*
      9. Create a root stacking context
    */
#root,
#__next {
	isolation: isolate;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration: underline;
}
a:not([class]):hover,
a:not([class]):focus {
	text-decoration: none;
}

/* Very simple blockquote styling */
blockquote {
	margin: 1em 1.5em;
	padding-left: 1.5em;
	border-left: 5px solid hsl(0, 0%, 85%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
button {
	border: none;
	background: transparent;
	cursor: pointer;
}

a,
button {
	transition: var(--transition1);
}
a {
	text-decoration: underline;
}
a:hover,
a:focus {
	text-decoration: none;
}

/* utility classes */
.last-p p:last-child {
	margin: 0;
}
.flex {
	display: flex;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

@media all and (min-width: 87.5em) {
	.force-new-row {
		flex-basis: 100%;
	}
}
.align-center {
	display: flex;
	align-items: center;
}
.align-start {
	display: flex;
	align-items: flex-start;
}
.fit-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.bg-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.pos-abs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrap-text {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}
.nowrap {
	white-space: nowrap;
}
.center-text {
	text-align: center;
}
.lazy-img {
	opacity: 0;
	transform: translateY(-5rem) scale(0.5);
	transition: var(--transition2);
}
.unlazied {
	opacity: 1;
	transform: translateY(0) scale(1);
}
.resetBtn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
.resetList {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 0.0625rem;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 0.0625rem;
}
.visuallyhidden,
.visually-hidden,
.visuallyHidden,
.sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	border: 0;
	width: 1px;
	height: 1px;
	transition: none;
}
.visuallyhidden.focusable:focus,
.visually-hidden.focusable:focus,
.visuallyHidden.focusable:focus,
.sr-only.focusable:focus {
	top: 0;
	left: 0;
	background: black;
	color: white;
	overflow: visible;
	clip: auto;
	margin: 0;
	width: 100%;
	height: auto;
	border: 1px dashed white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	z-index: 9001;
}
/* utility classes */

/* typography */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0 0 2rem;
	font-weight: 600;
}

h1,
.h1 {
	font-size: 4.8em;
	line-height: 110%;
	letter-spacing: -2.4px;
}

h2,
.h2 {
	font-size: 3.2rem;
	line-height: 110%;
	letter-spacing: -1.6px;
}

h3,
.h3 {
	font-size: 2.4rem;
	line-height: normal;
	letter-spacing: -1.2px;
}

h4,
.h4 {
	font-size: 2rem;
	line-height: normal;
	letter-spacing: -1px;
}
h5,
.h5 {
}
h6,
.h6 {
}

@media all and (min-width: 48em) {
	h1,
	.h1 {
		font-size: 6.4em;
		letter-spacing: -3.2px;
	}

	h2,
	.h2 {
		font-size: 4.8rem;
		letter-spacing: -2.4px;
	}
}
p,
.p {
	font-size: 1.6rem;
	line-height: 150%;
	margin: 0 0 1rem;
}
ol,
ul {
	font-size: 1.6rem;
	line-height: 150%;
}
a {
	font-size: 1.6rem;
	line-height: 150%;
}

.light-bold {
	font-weight: 300;
}
.medium-bold {
	font-weight: 500;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
}
.strike {
	text-decoration: line-through;
}
.small {
	font-size: 1.4rem;
	line-height: 150%;
}
.medium {
	font-size: 1.8rem;
}
.large {
	font-size: 2rem;
}

.section-titles {
}
/* typography */

/* buttons */

.button,
.btn {
	display: inline-block;
	border: 0;
	color: var(--color-white);
	text-decoration: none;
	text-align: center;
	background: var(--color-black);
	cursor: pointer;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 3rem;
	letter-spacing: 0.2em;
	padding: 1.3rem 4.7rem;
	outline: 2px solid transparent;
	min-width: 15rem;
}

.button:hover,
.button:focus,
.btn:hover,
.btn:focus {
	outline: 2px solid var(--color-black);
	color: var(--color-black);
	background: transparent;
}
.button-red {
	border-radius: 50px;
	background: var(--color-primary);
	color: var(--color-white);
}

/* buttons */

/* containers */
.container {
	width: 100%;
	max-width: var(--container-default);
	margin-right: auto;
	margin-left: auto;
	padding-left: var(--container-gutter);
	padding-right: var(--container-gutter);
}
.container--small {
	max-width: var(--container-small);
}
.container--medium {
	max-width: var(--container-medium);
}
.container--large {
	max-width: var(--container-large);
}

.container-desktop-pad {
	padding: 0;
}
.container--curve {
	position: relative;
}
.container--curve:before,
.container--curve:after {
	content: "";
	width: 85px;
	height: 200px;
	position: absolute;
}
.container--curve-right:after {
	content: "";
	background-image: url("./assets/images/pattern-curved-line-left.svg");
	top: 0;
	right: 0;
	background-repeat: none;
	background-size: cover;
}
@media all and (min-width: 62.5em) {
	.container-desktop-pad {
		padding-left: var(--container-gutter);
		padding-right: var(--container-gutter);
	}
}

/* containers */
/* section paddings */

.section-container {
	padding: 50px 0;
}
.section-container--xsmall {
	padding: 30px 0;
}
.section-container--xsmall.section-container--padding-top {
	padding: 30px 0 0;
}
.section-container--xsmall.section-container--padding-bottom {
	padding: 0 0 30px;
}
.section-container--small {
	padding: 100px 0;
}
.section-container--small.section-container--padding-top {
	padding: 100px 0 0;
}
.section-container--small.section-container--padding-bottom {
	padding: 0 0 100px;
}
.section-container--lopsided {
	padding: 150px 0 120px;
}
.section-container--medium {
	padding: 180px 0;
}
.section-container--medium.section-container--padding-top {
	padding: 180px 0 0;
}
.section-container--medium.section-container--padding-bottom {
	padding: 0 0 180px;
}
.section-container--large {
	padding: 200px 0;
}
.section-container--large.section-container--padding-top {
	padding: 200px 0 0;
}
.section-container--large.section-container--padding-bottom {
	padding: 0 0 200px;
}
.section-container--no-padding {
	padding: 0;
}

/* main site */
.site-header__container {
	position: relative;
}
.site-header__logo {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 40px;
	height: 40px;
}
.bmi-box {
}
.bmi-box__textbox {
	background: linear-gradient(
		290deg,
		#d6e6fe 0%,
		rgba(214, 252, 254, 0) 100%
	);
	padding-top: 96px;
	padding-bottom: 217px;
	border-radius: 0px 0px 35px 35px;
	text-align: center;
}
.bmi-box__title {
	margin: 0 0 24px 0;
}
.bmi-calculator-box {
	background: var(--color-white);
	box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
	border-radius: 16px;
	position: relative;
	top: -169px;
	padding: 24px;
}
.bmi-calculator-box__title {
	margin-bottom: 24px;
}
.bmi-inputs {
	margin-bottom: 24px;
}
.bmi-inputs__top {
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	gap: 24px;
	flex-wrap: wrap;
}
.bmi-radio-box {
	display: flex;
	align-items: center;
	gap: 18px;
	flex: 1;
}
.bmi-radio-box__radio {
	width: 31px;
	height: 31px;
}
.bmi-radio-box__label {
	margin: 0;
}
.bmi-inputs__bottom {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.bmi-input-box {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.bmi-input-box__label {
	color: var(--color-electric-blue);
}
.bmi-input-box__input {
	padding: 20px 24px;
	border-radius: 12px;
	border: 1px solid var(--color-border);
	font-weight: 700;
	margin: 0;
}
.bmi-input-box__input:hover {
	border-color: var(--color-base);
}
.bmi-input-box__input::placeholder {
	opacity: 0.25;
}
.bmi-calculator-result {
	padding: 32px;
	border-radius: 16px;
	background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
}
.bmi-calculator-result > * {
	color: var(--color-white);
}
.bmi-calculator-result__title {
	margin-bottom: 8px;
}
.bmi-calculator-result__result {
	margin-bottom: 24px;
}
.bmi-calculator-result__des {
	margin: 0;
}

.benefits-box {
	position: relative;
	padding: 56px 28.96px 56px 19px;
}
.benefits-box:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		290deg,
		#d6e6fe 0%,
		rgba(214, 252, 254, 0) 100%
	);
	opacity: 0.25;
	z-index: 2;
}
.benefits-listing {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.benefits-listing__icon {
	margin-bottom: 32px;
}
.benefits-listing__title {
	margin-bottom: 24px;
}
.benefits-listing__text {
	margin: 0;
}
.side-by-side {
	display: flex;
	flex-direction: column;
	gap: 48px;
}
.side-by-side__img {
}
.side-by-side__textbox {
	padding-right: var(--container-gutter);
	padding-left: var(--container-gutter);
}
.side-by-side__title {
	margin-bottom: 32px;
}
.bmi-limitations-box {
	display: flex;
	flex-direction: column;
	gap: 56px;
}
.bmi-limitations-box__title {
	margin-bottom: 32px;
}
.bmi-limitations-box__textbox {
	text-align: center;
}
.limitations-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}
.limitations-listing__item {
	position: relative;
	width: 100%;
	z-index: 3;
	padding: 24px;
	border-radius: 16px;
	background: var(--color-white);
}
.limitations-listing__item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	border-radius: 16px;
	box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.limitations-listing__top {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
}
.limitations-listing__title {
	margin: 0;
}

@media all and (min-width: 48em) {
	.bmi-box__textbox {
		padding-top: 112px;
		padding-bottom: 326px;
	}

	.bmi-calculator-box {
		top: -266px;
		padding: 32px;
	}
	.bmi-calculator-box__title {
		margin-bottom: 32px;
	}

	.bmi-inputs {
		margin-bottom: 32px;
	}
	.bmi-inputs__top {
		margin-bottom: 32px;
	}
	.bmi-radio-box {
		gap: 24px;
	}
	.bmi-inputs__bottom {
		flex-direction: row;
		gap: 24px;
	}
	.bmi-input-box {
		width: 50%;
	}
	.bmi-calculator-result {
		border-radius: 16px 999px 999px 16px;
		display: flex;
		gap: 24px;
		align-items: center;
		justify-content: space-between;
	}
	.bmi-calculator-result__col {
		width: 50%;
	}
	.bmi-calculator-result__title {
		margin-bottom: 8px;
	}
	.bmi-calculator-result__result {
		margin-bottom: 0;
	}
	.bmi-calculator-result__desc {
		width: 50%;
	}

	.benefits-box {
		padding: 60px 43px 60px 39px;
	}
	.benefits-listing__item {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.benefits-listing__icon {
		margin-bottom: 0;
		flex-shrink: 0;
	}
	.side-by-side {
		align-items: center;
		flex-direction: row;
		gap: 35px;
	}
	.side-by-side__img {
		position: relative;
		left: -40px;
	}
	.side-by-side__textbox {
		padding: 0;
		max-width: 331px;
	}
	.limitations-listing {
		gap: 24px;
	}
	.limitations-listing__item {
		width: calc(50% - 12px);
	}
}

@media all and (min-width: 62.5em) {
	.site-header__logo {
		width: 58.75px;
		height: 58.752px;
	}
	.benefits-box {
		padding: 72px 116px 96px 116px;
		border-radius: 35px;
		overflow: hidden;
	}
}
@media all and (min-width: 87.5em) {
	.site-header__logo {
		top: 75px;
		left: 145px;
		transform: initial;
	}
	.bmi-box {
		display: flex;
		align-items: flex-end;
	}
	.bmi-box__textbox {
		padding-top: 266px;
		padding-bottom: 200px;
		text-align: left;
		max-width: 978px;
		flex-shrink: 0;
	}
	.bmi-box__textbox .container {
		margin: 0;
		padding-left: 116px;
		padding-right: 397px;
	}
	.bmi-box__title {
		margin: 0 0 35px 0;
	}
	.bmi-calculator-container {
		position: relative;
		bottom: 86px;
		right: 266px;
	}
	.bmi-calculator-box {
		top: initial;
		width: 564px;
	}
	.bmi-input-box {
		max-width: 238px;
	}
	.benefits-box {
		padding: 72px 116px 96px 116px;
	}
	.benefits-listing {
		flex-direction: row;
		gap: 32px;
	}
	.benefits-listing__item {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}
	.benefits-listing__icon {
		margin-bottom: 45px;
	}
	.benefits-listing__title {
		margin-bottom: 24px;
	}

	.side-by-side {
		gap: 131px;
		align-items: flex-end;
	}
	.side-by-side__img {
		left: initial;
		flex-shrink: 0;
		width: 564px;
	}
	.side-by-side__textbox {
		padding-bottom: 40px;
		max-width: initial;
	}
	.side-by-side__title {
		margin-bottom: 35px;
	}
	.bmi-limitations-box {
		flex-direction: row;
		gap: 132px;
	}
	.bmi-limitations-box__textbox {
		flex-shrink: 0;
		text-align: left;
		width: 564px;
	}
	.limitations-listing {
		flex-shrink: 0;
	}
	.limitations-listing__item {
		width: 100%;
		min-width: 365px;
	}
}
